<form class="jumbotron shadow" >
   <h3>Cadastro de Pacientes</h3>
  <div class="form-row">
    <div class="form-group col-md-6">
      
      <input type="text" class="form-control" id="inputEmail4" placeholder="Nome ">
    </div>
    <div class="form-group col-md-6">
      
      <input type="text" class="form-control" id="inputPassword4" placeholder=" CPF ">
    </div>
  </div>
  <div class="form-group">

    <input type="text" class="form-control" id="inputAddress" placeholder=" Endereço">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      
      <input type="text" class="form-control" id="inputEmail4" placeholder=" Telefone ">
    </div>
    <div class="form-group col-md-6">
      
      <input type="text" class="form-control" id="inputPassword4" placeholder="Sexo ">
    </div>
  </div>
  <div class="form-row">
    
    <div class="form-group col-md-8">
     
      <select id="inputState" class="form-control">
        <option selected>Selecione o médico.</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      
      <input type="text" class="form-control" id="inputZip" placeholder="Idade" >
    </div>
  </div>
 
      <button type="submit" class="btn btn-secondary">Cadastrar</button>
   
  
</form>