<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/male-dentist.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr. Roberto Sales </h5>
              <p class="card-text">Atua como cardiologista.</p>
              <a href="#" class="btn btn-primary">Ver pacientes</a>
            </div>
          </div>
    </div>
  </div>
</div>