<div class="container jumbotron jumbotron-fluid  center-block">
  <div class="row justify-content-center">
      <div class=" col-md-3 m-1 center-block ">
          <div class="card" style="width: 18rem;">
              <img src="./assets/img/male-dentist.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dr. Roberto Sales </h5>
                <p class="card-text">cardiologista.

                  <li>segunda-feira : 7h-13h </li>
                  <li>terça-feira : 7h-13h  </li>
                  <li>quarta-feira : 7h-13h  </li>
                  <li>quinta-feira : 7h-13h  </li>
                  <li>sexta-feira : 7h-13h  </li>
                  <li>Sábado : 7h-13h  </li>


                </p>

              </div>
            </div>

      </div>
      <div class="col-sm-12 col-md-3  m-1 ">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/adult-care-dentist-1323864.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr. Pedro Nascimento </h5>
              <p class="card-text">Dentista.

                <li>segunda-feira : 9h-15h </li>
                <li>terça-feira : 9h-15h </li>
                <li>quarta-feira :9h-15h </li>
                <li>quinta-feira : 9h-15h </li>
                <li>sexta-feira : 9h-15h </li>
                <li>Sábado : 9h-15h </li>


              </p>
            </div>
          </div>
    </div>
    <div class="col-sm-12 col-md-3 m-1">
      <div class="card" style="width: 18rem;">
          <img src="./assets/img/adult-desk-doctor-2182979.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr. Luiz Augusto </h5>
            <p class="card-text">Neurologista.

              <li>segunda-feira : 8h-14h </li>
              <li>terça-feira : 8h-14h </li>
              <li>quarta-feira : 8h-14h </li>
              <li>quinta-feira : 8h-14h </li>
              <li>sexta-feira : 8h-14h </li>
              <li>Sábado : 8h-14h </li>


            </p>

          </div>
        </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1 ">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/dentist-1191671_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Wanuska  Alcântara </h5>
          <p class="card-text">Ginecologista.

            <li>segunda-feira : 7h-13h </li>
            <li>terça-feira : 7h-13h  </li>
            <li>quarta-feira : 7h-13h  </li>
            <li>quinta-feira : 7h-13h  </li>
            <li>sexta-feira : 7h-13h  </li>
            <li>Sábado : 7h-13h  </li>


          </p>

        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/doctor-2337835_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Manoel Barbosa </h5>
          <p class="card-text">otorrinolaringologista.

            <li>segunda-feira : 13h-18h </li>
            <li>terça-feira : 13h-18h  </li>
            <li>quarta-feira : 13h-18h  </li>
            <li>quinta-feira : 13h-18h  </li>
            <li>sexta-feira : 13h-18h  </li>
            <li>Sábado : 13h-18h  </li>


          </p>

        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/doctor-784329_640.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Mohamed Ali </h5>
          <p class="card-text">Pediatra.

            <li>segunda-feira : 8h-14h </li>
            <li>terça-feira : 8h-14h </li>
            <li>quarta-feira : 8h-14h </li>
            <li>quinta-feira : 8h-14h </li>
            <li>sexta-feira : 8h-14h</li>
            <li>Sábado : 8h-14h </li>


          </p>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/dr-2157993_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Marcela Albuquerque </h5>
          <p class="card-text">Clínica Geral.

            <li>segunda-feira : 7h-13h </li>
            <li>terça-feira : 7h-13h  </li>
            <li>quarta-feira : 7h-13h  </li>
            <li>quinta-feira : 7h-13h  </li>
            <li>sexta-feira : 7h-13h  </li>
            <li>Sábado : 7h-13h  </li>


          </p>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/isolated-1188036_640.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Ricardo Medina </h5>
          <p class="card-text">Angeologista.

            <li>segunda-feira : 13h-18h </li>
            <li>terça-feira : 13h-18h  </li>
            <li>quarta-feira : 13h-18h  </li>
            <li>quinta-feira : 13h-18h  </li>
            <li>sexta-feira : 13h-18h  </li>
            <li>Sábado : 13h-18h  </li>


          </p>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/nurse-2141808_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Samanta Lucena </h5>
          <p class="card-text">Urologista.

            <li>segunda-feira : 7h-13h </li>
            <li>terça-feira : 7h-13h  </li>
            <li>quarta-feira : 7h-13h  </li>
            <li>quinta-feira : 7h-13h  </li>
            <li>sexta-feira : 7h-13h  </li>
            <li>Sábado : 7h-13h  </li>


          </p>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/woman-doctor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Camila Pontes </h5>
          <p class="card-text">Pneumologista.

            <li>segunda-feira : 7h-13h </li>
            <li>terça-feira : 7h-13h  </li>
            <li>quarta-feira : 7h-13h  </li>
            <li>quinta-feira : 7h-13h  </li>
            <li>sexta-feira : 7h-13h  </li>
            <li>Sábado : 7h-13h  </li>

          </p>
        </div>
      </div>
  </div>
  </div>
</div>




