<div class="container jumbotron jumbotron-fluid  center-block">
  <div class="row justify-content-center">
      <div class=" col-md-3 m-1 center-block ">
          <div class="card" style="width: 18rem;">
              <img src="./assets/img/male-dentist.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Dr. Roberto Sales </h5>
                <p class="card-text">Atua como cardiologista.</p>
                <a href="#" class="btn btn-primary">Ver pacientes</a>
              </div>
            </div>

      </div>
      <div class="col-sm-12 col-md-3  m-1 ">
        <div class="card" style="width: 18rem;">
            <img src="./assets/img/adult-care-dentist-1323864.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Dr. Roberto Sales </h5>
              <p class="card-text">Atua como cardiologista.</p>
              <a href="#" class="btn btn-primary">Ver pacientes</a>
            </div>
          </div>
    </div>
    <div class="col-sm-12 col-md-3 m-1">
      <div class="card" style="width: 18rem;">
          <img src="./assets/img/adult-desk-doctor-2182979.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Dr. Roberto Sales </h5>
            <p class="card-text">Atua como cardiologista.</p>
            <a href="#" class="btn btn-primary">Ver pacientes</a>
          </div>
        </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1 ">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/dentist-1191671_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/doctor-2337835_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/doctor-784329_640.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="./assets/img/dr-2157993_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/isolated-1188036_640.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/nurse-2141808_640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  <div class="col-sm-12 col-md-3 m-1">
    <div class="card" style="width: 18rem;">
        <img src="../../assets/img/woman-doctor.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dr. Roberto Sales </h5>
          <p class="card-text">Atua como cardiologista.</p>
          <a href="#" class="btn btn-primary">Ver pacientes</a>
        </div>
      </div>
  </div>
  </div>
</div>